@font-face {
  font-family: 'VG5000';
 src: url('VG5000/VG5000-Regular.otf') format("opentype");
      src: url('VG5000/VG5000-Regular_web.eot'),     
       url('VG5000/VG5000-Regular_web.woff2') format("woff2"), 
       url('VG5000/VG5000-Regular_web.woff') format("woff"), 
        url('VG5000/VG5000-Regular_web.otf') format("opentype");
  
}



/* Le menu déroulant*/

.dropbtn {                      /* Classe des dossiers principaux du menu déroulant*/
    background-color: lightgrey;      
    color: black;
    padding: 15px;
    font-size: 25px;
    border: none;                   /*Informations relatives au menu déroulant*/
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: block;
    

}

.dropdown {                      /* classe du menu deroulant */
    position: relative;
    display: inline-block;
    
}

.dropdown-content {             /*classe des sous dossiers du menu déroulant*/
    display: none;
    position: absolute;
    background-color: lightgrey;                      /*Informations relatives aux sous dossiers du menu déroulant*/
    min-width: 100px;
    font-size: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown-content a {                  
    color: black;
    padding: 12px 16px;                     /*Informations relatives aux liens des sous dossiers du menu déroulant*/
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: grey;
 text-shadow: -100px -20px red, 100px -20px darkgreen, 50px 20px darkblue;} 
                                                  /* Permettent un changement de couleur au passage de la souris sur les sous dossiers du menu déroulant */


.dropdown:hover .dropdown-content {     
    display: block
    ;
}

.dropdown:hover .dropbtn {     /* Permettent un changement de couleur au passage de la souris sur le menu déroulant */
    background-color: grey;
 text-shadow: -100px -20px red, 100px -20px darkgreen, 50px 20px darkblue;} 

.list {                           
    top: 0;
    padding: 0px;
    list-style-type: none;
    display: flex;
    width: 75px;
    position: fixed;
    z-index: 6;                     /*permet de passer le menu déroulant au premier plan */

}                              /* Classes du menu deroulant qui est une liste*/


.menu {
    margin-left: 44%;
    width: 175px;

}

.contact {
    width: 75px;

}

    
.dropbtn a:link {
    color:black;
    text-decoration: none;    /* Pour que les liens du menu deroulant n'apparaissent pas soulignés et bleus */
    }

.dropbtn a:visited {
     color: black;            /*Pour que les liens du menu déroulant après visites restent identiques */
     text-decoration: none;
     
    }    

/*Le CV*/

.bandeau {
font-family: 'VG5000';
    color: grey;
    text-shadow:0px 5px 15px black;
    z-index: 1;
}

body {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
font-family: 'VG5000';
   font-weight: normal;
   font-style: normal;    font-stretch: ultra-condensed;  
    font-size: 1em;

}

#rectg {                        /*cadre presentation "Remi georges" */
    font-size: 19px;
    text-align: center;
    float: left;
    border: 15px ridge red;
    background-color: WhiteSmoke;
    margin: 6% 0% 2% 20%;
    padding: 8px;
    box-shadow: 2px 2px 12px #555;

}

#rectd {            /* cadre études et formations*/
    text-align: center;
    float: right;
    border: 15px ridge darkblue;
    background-color: WhiteSmoke;
    margin: 10% 20% 5% 0%;
    padding: 8px;
    box-shadow: 2px 2px 12px #555;

}

#rectcomp {             /*cadre Langues et informatique*/
    text-align: center;
    float: left;
    border: 15px ridge darkgreen;
    background-color: WhiteSmoke;
    margin: 10% 0% 15% 7%;
    padding: 8px;
    box-shadow: 2px 2px 12px #555;

}
#rectexp {
    text-align: center;
    float: right;
    border: 15px ridge red;
    background-color: WhiteSmoke;
    margin: 0% 10% 0% 0%;
    padding: 1%;
    box-shadow: 2px 2px 12px #555;


}

#rectnews {
    text-align: center;
    float: center;
    border: 15px ridge grey;
    background-color: WhiteSmoke;
    margin: 0% 10% 10% 10%;
    padding: 0;
    box-shadow: 2px 2px 12px #555;

}

#imageprofil {
    float: left;
    border: 15px ridge #f7bd40;
    background-color: WhiteSmoke;
    margin: 5% 2% 2% 10%;
    padding: 0px;
    width: 450px;
    box-shadow: 2px 2px 12px #555;
}

#CPL {
    float: left;
    width: 250px;
    
}




.titre {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: black;
    text-decoration: none;

}
.news {
    text-align: center;
font-family: 'Kaeru';
    font-weight: bold;
    font-size: xx-large;
    color: black;
    text-decoration: none;

}

.stitre {
    font-weight: bold;
    font-size: large;
    color: grey;

}

/* Le formulaire */

form {

}

#quest {
    float: center;
    border: 15px ridge #71D7EA;
    background-color: WhiteSmoke;
    margin: 100px 25% 30px 25%;
    padding: 4px;
}

.textform {
    text-align :center;
    font-weight: bold;
    font-size: 130%;
    color: #393A5D;
}

.textform2 {
    text-align :center;

}

/* La video */

#vid {
    float: left;
    border: 15px ridge #EAE571;
    background-color: WhiteSmoke;
    margin: 5% 25% 1% 25%;
    padding: 0px; 
    box-shadow: 2px 2px 12px #555;
    z-index: 1;
}
#vid2 {
    float: right;
    border: 15px ridge #EAE571;
    background-color: WhiteSmoke;
    margin: 5% 25% 1% 25%;
    padding: 0px;
    box-shadow: 2px 2px 12px #555;
    z-index: 1;
}
#paint {
    float: left;
    border: 10px ridge #EAE571;
    background-color: WhiteSmoke;
    margin: 3% 3% 3% 3%;
    width: 300px;
    box-shadow: 2px 2px 12px #555;
    z-index: 1;
}
#paint2 {
    float: left;
    border: 10px ridge #EAE571;
    background-color: WhiteSmoke;
    margin: 3% 3% 3% 3%;
    width: 300px;
    box-shadow: 2px 2px 12px #555;
    z-index: 1;
}
#insta {
    float: center;
    margin: 3% 3% 3% 10%;
    width: 700px;
    box-shadow: 2px 2px 12px #555;
    z-index: 1;
}


p.legende {
    text-shadow:0 0 1px black;
    font-weight: bold;
    color: black;
    font-size:160%; 
    margin: 1% 25% 5% 25%;
    text-align: left; 
    padding:0px;
    }
p.legende2 {
    text-shadow:0 0 1px black;
    font-weight: bold;
    color: grey;
    font-size:160%; 
    text-align: right; 
    margin: 1% 25% 5% 25%;
    padding:0px;
    }


/* Le footer */

.footer {
   text-align: center;
   position:fixed;
   background-color: WhiteSmoke;
   height:20px;
   bottom:0;
   left:0;
   right:0;
   opacity: 0.75;
   font-size: small;
}
